---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Code Style Check

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  phpcs:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist
      - name: Run PHP_CodeSniffer (PSR-12)
        shell: bash
        run: composer lint:tool:phpcs
